.background-image {
    background-image: url(https://storage.googleapis.com/subtlepatterns-production/designers/subtlepatterns/uploads/45degreee_fabric.png);
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    background-color: rgb(122, 125, 136);
    background-blend-mode:overlay;
}